---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to My Site">
	<main class="container">
		<h1>HELLO! I'm <span class="text-green-600 font-bold">Dena</span></h1>
		
	</main>
</Layout>

