<section id="about" class="flex justify-center h-screen items-center w-full">
        <div class="w-3/4 text-center">
            Welcome to my personal branding portfolio! I am an accomplished professional with 10 years of experience in the web industry, specializing in Front-End Development, UI/UX Design, and Logo Design. With a passion for crafting visually stunning and user-centric digital experiences, I have honed my skills to become a versatile expert in these domains. 
        </div>
</section>