<section id="contact"class="flex justify-center h-screen items-center w-full">
    <div class="text-center">
        <div>
            <a class="" href="mailto:mnl.adena@gmail.com">Contact Me, Amigos Sempre!</a>
        </div>
    </div>
</section>