<section id="#home" class="flex justify-center h-screen items-center w-full">
    <div class="text-center">
        <h1 class="text-4xl mb-5 font-bold">HELLO, Friends! I'm <span class="text-green-600 font-bold">Dena</span></h1>
	    <p class="text-lg">Nice to meet you friends!</p>
    </div>
</section>